Click==7.0
filelock==3.0.10
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pluggy==0.8.1
py==1.7.0
simplejson==3.16.0
six==1.12.0
SQLAlchemy==1.2.18
sqlalchemy-mixins==1.1
toml==0.10.0
tox==3.7.0
typing==3.6.6
virtualenv==16.4.0
Werkzeug==0.14.1
